.all-posts{
    width: 90%;
    max-width: 100%;
    margin: 10px auto; 
}
.post{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-width: 350px;

}
.post li:last-of-type{
    float: left;
}

.post :hover{
    background-color: blueviolet;

}
.post a:hover{
    color: white;
}
ul{
    list-style-type: none;
    text-align: center;
}
.section-title{
    text-align: center;
    margin: 10px 0;
    text-decoration: underline;
}



